.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 10px #ccc;
}

.nav-bar ul {
  list-style-type: none;
  display: flex;
}

.nav-bar ul > li {
  padding: 10px;
}

.nav-bar p {
  margin-left: 10px;
}

.foot {
  background-color: rgb(53, 53, 53);
  color: #fff;
}

.foot small {
  text-align: center;
}
